## The huge gensim model
*.bin

## Python-related folders
.ipynb_checkpoints
__pycache__

## Other unnecessary clutter
.DS_Store

## Images
*.jpg
*.png

## Peripheral LaTeX/Beamer files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.nav
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb